%h2 Présentation
%p Ce site web à été développé pour permettre une accessibilité avec la méthode des media queries. Essayez donc de redimensionnez la fenêtre de votre navigateur, ou mieux, essayez le sur mobile !
