.inner
  .mast
    %h1#logo
      %a{:href => "#"}
        = image_tag "Logo.png"
        On The Rails Again
    %ul
      %li
        = link_to "Sign in", user_registration_path
        = link_to "Sign up", new_user_registration_path